.container {
  font-family: inherit;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
  padding: 20px;
  background-color: white;
}

.section{
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.left {
  flex: 1;
}

.right{
  flex-basis: 100px;
  margin-left: 20px;
}

.result svg {
  margin: auto;
  /* opacity: 0.5; */
  display: block;
  max-width: 100%;
}

.title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.subtitle {
  margin: 20px 0;
  font-weight: bold;
  font-size: 18px;
}

.caption{
  font-size: 12px;
  text-align: center;
}

.footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}